<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand"
      href="{{ .Site.BaseURL }}">
      Krisjanis Rijnieks
    </a>
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
      id="navbarMain">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
            href="{{ .Site.BaseURL }}about">
            About
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            href="{{ .Site.BaseURL }}final-project">
            Final Project
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            href="#"
            id="navbarAssignments"
            role="button"
            data-bs-toggle="dropdown">
            Assignments
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ .Site.BaseURL }}/assignments/project-management"
                class="dropdown-item">
                Project Management
              </a>
            </li>
            <li>
              <a href="{{ .Site.BaseURL }}/assignments/principles-and-practices"
                class="dropdown-item">
                Principles and Practices
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /.container -->
</nav>
