<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ .Page.Title }} - {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/bootstrap.min.css">
  </head>
  <body>

    {{ partial "navigation" . }}

    <header class="container py-5">
      <h1 class="display-1">{{ .Page.Title }}</h1>
      <p class="lead">{{ .Page.Params.Lead }}</p>
    </header>

    <main class="container pb-5">
      <div class="row row-cols-1 row-cols-md-2">

        <div class="col">
          <div class="card">
            <img class="card-img-top"
              src="{{ .Site.BaseURL }}assignments/project-management/thumbnail.jpg"
              alt="Project Management Thumbnail">
            <div class="card-body">
              <h5 class="card-title">Assignment 01</h5>
              <p class="card-text">Project Management</p>
              <a class="btn btn-dark"
                href="{{ .Site.BaseURL }}assignments/project-management">
                View
              </a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img class="card-img-top"
              src="{{ .Site.BaseURL }}assignments/principles-and-practices/thumbnail.jpg"
              alt="Principles and Practices Thumbnail">
            <div class="card-body">
              <h5 class="card-title">Assignment 02</h5>
              <p class="card-text">Principles and Practices</p>
              <a class="btn btn-dark"
                href="{{ .Site.BaseURL }}assignments/principles-and-practices">
                View
              </a>
            </div>
          </div>
        </div>

      </div>
    </main>

    <footer class="container py-2">
      &copy; {{ .Site.Copyright }} {{ now.Format "2006" }}
    </footer>

    <script src="{{ .Site.BaseURL }}assets/js/bootstrap.min.js"></script>
  </body>
</html>
